/*БЛОК ШАПКИ*/
.main-header{
	width: 100%;
  	height: 545px;
  	background-color: #eeeeee;
}

/*НАВИГАЦИЯ В ШАПКЕ*/
.header-navigation{
	padding-top: 49px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header-navigation-1 li{
	display: inline;
	margin-right: 13px;
}
.header-logo{
	padding-left: 140px;
}
.header-navigation-2{
	padding-right: 140px;
}

/*СЛАЙДЫ В ШАПКЕ*/
.slide-div{	
}
.slide-img{
	position: absolute;
	margin-top: 20px;
	margin-left: 571px;
	margin-right: 171px;
}
.slide-title{
	margin-left: 140px;
	font-family: Roboto;
  	font-size: 55px;
}
.slide-article{
	margin-left: 140px;
	font-family: Roboto;
  	font-size: 16px;
}
.slide-button{
	margin-left: 140px;
	font-family: Roboto;
 	font-size: 16px;
 	border: none;

 	padding-top: 10px;
 	padding-bottom: 10px;
 	padding-right: 50px;
 	padding-left: 50px;
 	background-color: #fb565a;
 	color: white;
}
/*MAIN START*/
.what-we-do li{
	display: inline-block;
	margin-top: 80px;
	margin-left: 100px;
}
.make-the-order-button1{
	font-family: Roboto;
  	font-size: 16px;
  	color: white;
  	border: none;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	background-color: #fb565a;
}
.make-the-order-button2{
	color: white;
	border: none;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	background-color: #00ca74;
}
.make-the-order-button3{
	color: white;
	border: none;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	background-color: #efc84a;
}
/*MAIN END*/
.big-hr1{
	width: 80%;
  	height: 2px;

  	margin-left: 140px;
  	margin-right: 140px;
  	margin-top: 80px;
  	margin-bottom: 80px;
}
/*ARTICLE START*/
.about-us{
	margin-left: 100px;
}
.about-us-ul li{
	display: inline-block;
}
.about-us-title{
	font-family: Roboto;
  	font-size: 45px;
}
.about-us-article{
	font-family: Roboto;
  	font-size: 16px;
}



.about-us-line{
	background-color: #fb565a;

	border: 1px solid #fb565a;
	padding: none;
	margin-top: none;
}
.what-we-can{
	font-size: 16px;
	font-family: roboto;
	line-height: 24px;
}
.what-we-can_title{
	font-size: 16px;
}



.second-block-ul{
	margin-left: 149px;
}
/*LINE*/
.big-hr2{
	width: 1000px;
  	height: 2px;

  	margin-left: 140px;
  	margin-right: 140px;
  	margin-top: 76px;
  	margin-bottom: 46px;
  }

 .partners li{
 	display: inline;
 	margin-left: 100px;

 }
 


/*ARTICLE END*/
.big-hr3{
	width: 1000px;
  	height: 2px;

  	margin-left: 140px;
  	margin-right: 140px;
  	margin-top: 63px;
  	margin-bottom: 80px;
  }


/*FOOTER START*/
.map{
	
	height: 416px;
	background-image: url(img/2.jpg);
}
.white-block{
	position: absolute;
	text-align: center;
	background-color: white;
	margin-left: 140px;
	margin-top: 54px;
	font-size: 18px;



	width: 319px;
	height: 308px;
}
.white-block p{
	color: #666666;
	font-size: 16px;
}
.send-the-letter{
	color: white;
	border: none;
	text-transform: uppercase;
	font-size: 16px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	background-color: #fb565a;
}
.map-marker{
	position: absolute;
	margin-top: 89px;
	padding-left: 820px;
}

.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
 
}
.footer-contacts{
	padding-top: 99px;
}
.footer-contacts-svg li{
	display: inline-block;
}
.footer-contacts-svg img{
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;

	border-radius: 50px;

	background-color: #e1e1e1;
}

.friends{
	padding-top: 78px;
}