/*SLIDER*/

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
	color: black;
  	text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header {
  background-color: #eeeeee;
}

.slider {
  position: relative;
  
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-picture1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-picture2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-picture3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*SLIDER*/

header{

	display: flex;
	flex-direction: row;

	padding-left: 40px;

	font-family: roboto, arial;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
	background-color: #eeeeee;
}

.logo-img{
	height: 65px;
	width: 160px;
	background-image: url(../img/nerds-logo.svg);

	margin-top: 49px;

	margin-right: 90px;
}
.logo-img:hover,
.logo-img:focus {
	opacity: 0.8;
}
.logo-img:active {
	opacity: 0.3;
}


.menu{
	margin-top: 63px;
	font-weight: bold;
}
.menu a:hover,
.menu a:focus{
	color: #fb565a;
}
.menu li{
	display: inline;
	padding-left: 47px;
}
.menu a:active{
	color: black;
	opacity: 0.3;
}

.basket{
	margin-top: 63px;	
	margin-left: 230px;
	font-weight: bold;

	background-image: url(../img/basket-icon.svg);
	background-repeat: no-repeat;
	background-position: left;
}
.basket li{
	display: inline;
}
.basket a:hover,
.basket a:focus{
	color: #fb565a;
}
.basket a:active{
	color: black;
	opacity: 0.3;
}
.vertical-stick{
	content: "";
	display: block;
	position: absolute;
	width: 80px;
	height: 2px;
	background-color: red;

	top: 115px;
	left: 624px;

	background-position: bottom;
}





.main{
	display: flex;
	flex-direction: row;

	align-content: space-between;

	margin-top: 80px;
}
.first-block{
	margin-left: 40px;
}
.second-block{
	margin-left: 100px;
	margin-right: 100px;
}

.first-button{
	  display: block;
	  width: 160px;
	  padding: 13px 0;
	  
	  font-size: 16px;
	  line-height: 18px;
	  color: #ffffff;
	  text-transform: uppercase;
	  text-align: center;
	  text-decoration: none;
	  
	  background-color: #fb565a;
	  border-radius: 3px;
	  border: none;
}
.first-button:hover,
.first-button:focus {
  background-color: #e74246;
}

.first-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.second-button{
	  display: block;
	  width: 160px;
	  padding: 13px 0;
	  
	  font-size: 16px;
	  line-height: 18px;
	  color: #ffffff;
	  text-transform: uppercase;
	  text-align: center;
	  text-decoration: none;
	  
	  background-color: #00ca74;
	  border-radius: 3px;
	  border: none;
}
.second-button:hover,
.second-button:focus {
  background-color: #00bc6c;
}

.second-button:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 1, 1, 0.1) inset;
}



.third-button{
	  display: block;
	  width: 160px;
	  padding: 13px 0;
	  
	  font-size: 16px;
	  line-height: 18px;
	  color: #ffffff;
	  text-transform: uppercase;
	  text-align: center;
	  text-decoration: none;
	  
	  background-color: #efc84a;
	  border-radius: 3px;
	  border: none;
}
.third-button:hover,
.third-button:focus {
  background-color: #eab534;
}

.third-button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 1, 1, 0.1) inset;
}




.hr1{
	width: 1160px;
	margin-left: 40px;
	margin-top: 98px;
	margin-bottom: 80px;
}







.about-us{
	display: flex;
	flex-direction: row;
}
.who{
	margin-left: 40px;
	margin-right: 120px;
}
.who h2{
	font-size: 45px;
	line-height: 45px;
}
.who h3{
	margin-top: 25px;
}

.what-we-do li{
	position: relative;
	list-style: none;

	margin-top: 30px;
}
.what-we-do li::before{
	content: "";
	width: 25px;
	height: 2px;

	top: -28px;
	left: -35px;

	position: absolute;
	background-color: red;

	margin-top: 40px;
}


.who p{
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}

.love h3{
	font-size: 16px;
	margin-left: 20px;
}
.procents{
	padding-left: 0px;
}
.procents li{
	display: inline-block;
	margin-right: 26px;
}
.procents h2{
	font-size: 45px;
}
.procents u{
	position: absolute;
	font-size: 22px;
	top: 1435px;

	text-decoration: none;

}


.hr2{
	width: 1160px;
	margin-left: 40px;
	margin-top: 77px;
	margin-bottom: 65px;
}

.hr3{
	width: 1160px;
	margin-left: 40px;
	margin-top: 63px;
	margin-bottom: 80px;
}




.friends{
	display: flex;
	flex-direction: row;
}
/*ACADEMY*/
.academy{
	margin-left: 71px;
	width: 199px;
	height: 68px;
	background-image: url(../img/htmlacdemy-logo1.png);
	background-repeat: no-repeat;
}
.academy:hover,
.academy:focus{
	width: 199px;
	height: 68px;
	background-image: url(../img/htmlacdemy-logo2.png);
	background-repeat: no-repeat;
}
.academy:active{
	width: 199px;
	height: 68px;
	background-image: url(../img/htmlacdemy-logo3.png);
	background-repeat: no-repeat;
}
/*ACADEMY*/

/*borodinski*/
.borodinski{
	width: 199px;
	height: 68px;
	background-image: url(../img/borodinsli-logo1.png);
	background-repeat: no-repeat;
}
.borodinski:hover,
.borodinski:focus{
	width: 199px;
	height: 68px;
	background-image: url(../img/borodinsli-logo2.png);
	background-repeat: no-repeat;
}
.borodinski:active{
	width: 199px;
	height: 68px;
	background-image: url(../img/borodinsli-logo3.png);
	background-repeat: no-repeat;
}
/*borodinski*/

/*pink*/
.pink{
	width: 199px;
	height: 68px;
	background-image: url(../img/pink-logo1.png);
	background-repeat: no-repeat;
}
.pink:hover,
.pink:focus{
	width: 199px;
	height: 68px;
	background-image: url(../img/pink-logo2.png);
	background-repeat: no-repeat;
}
.pink:active{
	width: 199px;
	height: 68px;
	background-image: url(../img/pink-logo3.png);
	background-repeat: no-repeat;
}
/*pink*/

/*mishka*/
.mishka{
	width: 199px;
	height: 68px;
	background-image: url(../img/mishka-logo1.png);
	background-repeat: no-repeat;
}
.mishka:hover,
.mishka:focus{
	width: 199px;
	height: 68px;
	background-image: url(../img/mishka-logo2.png);
	background-repeat: no-repeat;
}
.mishka:active{
	width: 199px;
	height: 68px;
	background-image: url(../img/mishka-logo3.png);
	background-repeat: no-repeat;
}
/*mishka*/

.rotate{
	height: 52px;
	padding: 0px;
	margin: 0px;

	margin-left: 49px;
	margin-right: 49px;
}



.map{
	background-image: url(../img/2.jpg);
	width: 100%;
	height: 416px;
}
.white-block{
	position: absolute;
	background-color: white;
	text-align: center;
	width: 319px;
	height: 308px;

	margin-left: 40px;
	margin-top: 54px;
}
.white-block h2{
	font-size: 18px;
	margin-top: 54px;
}
.white-block p{
	color: #666666;
	font-size: 16px;
}
.white-block-button{
	  width: 219px;
	  padding: 13px 20px;
	  
	  font-size: 16px;
	  line-height: 18px;
	  color: #ffffff;
	  text-transform: uppercase;
	  text-align: center;
	  text-decoration: none;
	  
	  background-color: #fb565a;
	  border-radius: 3px;
	  border: none;	
}
.white-block-button:hover,
.white-block-button:focus {
  background-color: #e74246;
}

.white-block-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.map-marker{
	padding-top: 89px;
	padding-left: 820px;
}



.footer{

	display: flex;
	flex-direction: row;
}
.footer-block2{
	margin-top: 50px;
}

.footer h3{
	font-size: 36px;
	line-height: 36px;

	line-height: 25px;
}
.footer p{
	font-size: 16px;
	line-height: 22px;
	color: #444444;

	line-height: 0px;
}
.vk{
	margin-top: 78px;

	background-color: #e1e1e1;
	width: 79px;
	height: 79px;
	border-radius: 50%;
	text-align: center;

	margin-left: 40px;
}
.fb{
	margin-top: 78px;

	background-color: #e1e1e1;
	width: 79px;
	height: 79px;
	border-radius: 50%;
	text-align: center;

	margin-right: 12px; 
	margin-left: 12px;
}
.inst{
	margin-top: 78px;

	background-color: #e1e1e1;
	width: 79px;
	height: 79px;
	border-radius: 50%;
	text-align: center;

	margin-right: 138px;
}
.vk img,
.fb img,
.inst img{
	margin-top: 30px;
}

.vk:hover, .vk:focus{background-color: #e74246;}
.fb:hover, .vk:focus{background-color: #e74246;}
.inst:hover, .vk:focus{background-color: #e74246;}

.vk:hover:active{background-color: #d7373b;}
.fb:hover:active{background-color: #d7373b;}
.inst:hover:active{background-color: #d7373b;}

.vk:hover img:active{opacity: 0.3}
.fb:hover img:active{opacity: 0.3}
.inst:hover img:active{opacity: 0.3}


/*ВСПЛЫВАЮЩИЕ ОКНО*/


/*ВСПЛЫВАЮЩИЕ ОКНО*/






/*SHOP*/
/*SHOP*/
.header-shop{
	background-color: #eeeeee;

	padding-top: 68px;
	padding-bottom: 96px; 

	text-align: center;
	font-size: 25px;
	line-height: 55px;
}

.shop-sort li{
	display: inline;
}
.shop-sort{
	display: flex;
	flex-direction: row;

	font-weight: bold;
	text-transform: uppercase;

	margin-top: 60px;
	margin-bottom: 26px;
	padding-right: 30px;

	font-size: 14px;
	color: rgba(0, 0, 0, 0.3);
}
.count{
	color: #000000;
}
.type{
	margin-right: 20px;
	margin-left: 20px;
}
.icon-down{

}

.shop-sort-first{
	margin-right: 240px;

	font-size: 18px;
	color: black;
}
.shop-sort-second{
	margin-right: 220px;
	font-size: 18px;
	color: black;
}





.article-block{
	display: flex;
	flex-direction: row;
}
.left-menu{
	display: flex;
	flex-direction: column;

	margin-right: 100px;
	margin-left: 40px;
}
.left-menuButton{
	display: block;
	width: 140px;
	height: 40px;
	padding-top: 15px;
	text-transform: uppercase;
  	text-align: center;
 	text-decoration: none;
  	font-weight: bold;

	background-color: #eeeeee;

}
.left-menu li{
	color: #283136;
}
.hard-filter{
	padding: 0px;
	margin: 0px;

	margin-top: 33px;

}



.right-goods{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}
.right-goods div{
	display: flex;
	flex-direction: column;
	background-image: url(../img/browser.png);
	background-repeat: no-repeat;

	margin-left: 40px;

	margin-top: 33px;

}
.right-goods span{
	height: 40px;
	margin-left: 40px;

}

.right-goods div:hover{
	background-image: url(../img/browser.svg);
	background-repeat: no-repeat;
}

.switch-menu{
		display: flex;
		flex-direction: row;

	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 440px;
}
.switch-menu a {
  display: block;
  width: 50px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: bold;

  margin-right: 11px;
  
  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
}

.last-button a:hover,
.last-button a:focus,
.switch-menu a:hover,
.switch-menu a:focus,
.left-menuButton:hover,
.left-menuButton:focus{
  background-color: white;
  outline: solid 3px #dbdbdb;
}
.last-button a{
	display: block;
  width: 260px;
  
  font-size: 16px;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  margin-right: 11px;
  
  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
}
/*FILTER*/
ul{	
	list-style: none;
}
body {
  margin: 0;
  padding: 0;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
  

}

.range-filter {
  width: 260px;
  margin-top: 1px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*FILTER*/



.left-menuButton{
	margin-top: 50px;
	width: 261px;
}






/*UL FILTER*/



/*UL FILTER*/




/*/* Всплывающая форма */

.modal {
  position: fixed;
  
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-login {
  top: 120px;
  left: 50%;
  

  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 11px;
  
  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 1px;

  width: 19px;
  height: 3px;

  background-color: red;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.modal-description {
  margin: 0;
  margin-bottom: 10px;
}

.login-form p {
  margin: 0;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  padding-right: 40px;
  
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form .login-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}

.login-icon-user {
  background-image: url("img/user.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-icon-password {
  background-image: url("img/lock.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

.login-form .button {
  width: 100%;
  margin-right: 0;
}

.modal-map {
  top: 50%;
  left: 50%;

  display: none;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;
  
  border: 7px solid white;
}

.modal-map p {
  margin: 0;
}