/*SLIDоER*/

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
	color: black;
  	text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header {
  background-color: #eeeeee;
}

.slider {
  position: relative;
  width: 100%;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 5;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-picture1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-picture2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-picture3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*SLIDER*/


.header{
	display: flex;
	flex-direction: row;
	position: relative;

	font-family: roboto, arial;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
}
.logo-img{
	height: 65px;
	width: 160px;
	background-image: url(../img/nerds-logo.svg);

	margin-top: 49px;

	margin-right: 90px;
}
.logo-img:hover,
.logo-img:focus {
	opacity: 0.8;
}
.logo-img:active {
	opacity: 0.3;
}


.menu{
	margin-top: 63px;
	font-weight: bold;
}
.menu a:hover,
.menu a:focus{
	color: #fb565a;
}
.menu li{
	display: inline;
	margin-left: 47px;
}
.menu a:active{
	color: black;
	opacity: 0.3;
}

.basket{
	margin-top: 63px;	
	margin-left: 230px;
	font-weight: bold;

	background-image: url(../img/basket-icon.svg);
	background-repeat: no-repeat;
	background-position: left;
}
.basket li{
	display: inline;
}
.basket a:hover,
.basket a:focus{
	color: #fb565a;
}
.basket a:active{
	color: black;
	opacity: 0.3;
}
.vertical-align{
	border-bottom: 2px solid #fb565a;
	padding-bottom: 12px;
}





.main-no{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	margin-top: 80px;

	padding-right: auto;
	padding-left: auto;
	min-width: 1200px;
	width: 100%;
}
.first-block{
	margin-left: 40px;
}
.second-block{
	margin-left: 100px;
	margin-right: 100px;
}

.first-button{
	  display: block;
	  width: 160px;
	  padding: 13px 0;
	  
	  font-size: 16px;
	  line-height: 18px;
	  color: #ffffff;
	  text-transform: uppercase;
	  text-align: center;
	  text-decoration: none;
	  
	  background-color: #fb565a;
	  border-radius: 3px;
	  border: none;
}
.first-button:hover,
.first-button:focus {
  background-color: #e74246;
}

.first-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.second-button{
	  display: block;
	  width: 160px;
	  padding: 13px 0;
	  
	  font-size: 16px;
	  line-height: 18px;
	  color: #ffffff;
	  text-transform: uppercase;
	  text-align: center;
	  text-decoration: none;
	  
	  background-color: #00ca74;
	  border-radius: 3px;
	  border: none;
}
.second-button:hover,
.second-button:focus {
  background-color: #00bc6c;
}

.second-button:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 1, 1, 0.1) inset;
}



.third-button{
	  display: block;
	  width: 160px;
	  padding: 13px 0;
	  
	  font-size: 16px;
	  line-height: 18px;
	  color: #ffffff;
	  text-transform: uppercase;
	  text-align: center;
	  text-decoration: none;
	  
	  background-color: #efc84a;
	  border-radius: 3px;
	  border: none;
}
.third-button:hover,
.third-button:focus {
  background-color: #eab534;
}

.third-button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 1, 1, 0.1) inset;
}




.hr{
	height: 1px;
	margin-top: 80px;
	margin-bottom: 80px;
	width: 1080px;
	text-align: center;
	color: grey;
}
.hr2{
	height: 1px;
	margin-top: 76px;
	margin-bottom: 62px;
	width: 1080px;
	text-align: center;
	color: grey;
}
.hr3{
	height: 1px;
	margin-top: 50px;
	margin-bottom: 80px;
	width: 1080px;
	text-align: center;
	color: grey;
}

.about-us{
	display: flex;
	flex-direction: row;

}
.who{
	margin-left: 40px;
	margin-right: 120px;
}
.who h2{
	font-size: 45px;
	line-height: 45px;
}
.who h3{
	margin-top: 25px;
}

.what-we-do li{
	position: relative;
	list-style: none;

	margin-top: 30px;
}
.what-we-do li::before{
	content: "";
	width: 25px;
	height: 2px;

	top: -28px;
	left: -35px;

	position: absolute;
	background-color: red;

	margin-top: 40px;
}


.who p{
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}

.love h3{
	font-size: 16px;
	margin-left: 20px;
}
.procents{
	padding-left: 0px;
}
.procents li{
	display: inline-block;
	margin-right: 21px;
}
.procents h2{
	font-size: 45px;
}
.procents u{
	position: absolute;
	font-size: 22px;
	top: 1415px;

	text-decoration: none;

}



.friends{
	display: flex;
	flex-direction: row;
}
/*ACADEMY*/
.academy{
	margin-left: 10px;
	margin-left: 40px;
	width: 199px;
	height: 68px;
	background-image: url(../img/htmlacdemy-logo1.png);
	background-repeat: no-repeat;
}
.academy:hover,
.academy:focus{
	width: 199px;
	height: 68px;
	background-image: url(../img/htmlacdemy-logo2.png);
	background-repeat: no-repeat;
}
.academy:active{
	width: 199px;
	height: 68px;
	background-image: url(../img/htmlacdemy-logo3.png);
	background-repeat: no-repeat;
}
/*ACADEMY*/

/*borodinski*/
.borodinski{
	width: 199px;
	height: 68px;
	background-image: url(../img/borodinsli-logo1.png);
	background-repeat: no-repeat;
}
.borodinski:hover,
.borodinski:focus{
	width: 199px;
	height: 68px;
	background-image: url(../img/borodinsli-logo2.png);
	background-repeat: no-repeat;
}
.borodinski:active{
	width: 199px;
	height: 68px;
	background-image: url(../img/borodinsli-logo3.png);
	background-repeat: no-repeat;
}
/*borodinski*/

/*pink*/
.pink{
	width: 199px;
	height: 68px;
	background-image: url(../img/pink-logo1.png);
	background-repeat: no-repeat;
}
.pink:hover,
.pink:focus{
	width: 199px;
	height: 68px;
	background-image: url(../img/pink-logo2.png);
	background-repeat: no-repeat;
}
.pink:active{
	width: 199px;
	height: 68px;
	background-image: url(../img/pink-logo3.png);
	background-repeat: no-repeat;
}
/*pink*/

/*mishka*/
.mishka{
	width: 199px;
	height: 68px;
	background-image: url(../img/mishka-logo1.png);
	background-repeat: no-repeat;
}
.mishka:hover,
.mishka:focus{
	width: 199px;
	height: 68px;
	background-image: url(../img/mishka-logo2.png);
	background-repeat: no-repeat;
}
.mishka:active{
	width: 199px;
	height: 68px;
	background-image: url(../img/mishka-logo3.png);
	background-repeat: no-repeat;
}
/*mishka*/

.rotate{
	height: 52px;
	padding: 0px;
	margin: 0px;

	margin-left: 49px;
	margin-right: 49px;
}



.map{
	background-image: url(../img/2.jpg);
	height: 416px;
	width: 100%;
}
.white-block{
	position: absolute;
	background-color: white;
	text-align: center;
	width: 319px;
	height: 308px;

	margin-left: 40px;
	margin-top: 54px;
}
.white-block h2{
	font-size: 18px;
	margin-top: 54px;
}
.white-block p{
	color: #666666;
	font-size: 16px;
	margin-bottom: 37px;
}
.white-block-button{
	  width: 219px;
	  padding: 13px 28px;
	  
	  font-size: 16px;
	  line-height: 18px;
	  color: #ffffff;
	  text-transform: uppercase;
	  text-align: center;
	  text-decoration: none;
	  
	  background-color: #fb565a;
	  border-radius: 3px;
	  border: none;	
}
.white-block-button:hover,
.white-block-button:focus {
  background-color: #e74246;
}

.white-block-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.map-marker{
	padding-top: 89px;
	padding-left: 820px;
}



.footer{
	display: flex;
	flex-direction: row;
}
.footer-block2{
	margin-top: 50px;
}

.footer h3{
	font-size: 36px;
	line-height: 36px;

	line-height: 25px;
}
.footer p{
	font-size: 16px;
	line-height: 22px;
	color: #444444;

	line-height: 0px;
}
.vk{
	margin-top: 78px;

	background-color: #e1e1e1;
	width: 79px;
	height: 79px;
	border-radius: 50%;
	text-align: center;

	margin-left: 40px;
}
.fb{
	margin-top: 78px;

	background-color: #e1e1e1;
	width: 79px;
	height: 79px;
	border-radius: 50%;
	text-align: center;

	margin-right: 12px; 
	margin-left: 12px;
}
.inst{
	margin-top: 78px;

	background-color: #e1e1e1;
	width: 79px;
	height: 79px;
	border-radius: 50%;
	text-align: center;

	margin-right: 138px;
}
.vk img,
.fb img,
.inst img{
	margin-top: 30px;
}

.vk:hover, .vk:focus{background-color: #e74246;}
.fb:hover, .vk:focus{background-color: #e74246;}
.inst:hover, .vk:focus{background-color: #e74246;}

.vk:hover:active{background-color: #d7373b;}
.fb:hover:active{background-color: #d7373b;}
.inst:hover:active{background-color: #d7373b;}

.vk:hover img:active{opacity: 0.3}
.fb:hover img:active{opacity: 0.3}
.inst:hover img:active{opacity: 0.3}


/*ВСПЛЫВАЮЩИЕ ОКНО*/


/*ВСПЛЫВАЮЩИЕ ОКНО*/






/*SHOP*/
/*SHOP*/

/*FILTER*/
ul{	
	list-style: none;
}
body {
  margin: 0;
  padding: 0;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}
.shop-ready{
	font-size: 55px;
	line-height: 55px;
	margin-top: 101px;
	padding-bottom: 116px;
	text-align: center;
}
.main__title--catalog {
  padding-top: 80px;
  padding-bottom: 115px;
  text-align: center;
  background-color: #eeeeee;
  }

.container__catalog {
  display: flex;
  flex-wrap: wrap;

  margin-left: none;
}
.filter {
  width: 238px;
  margin-right: 90px;
}

.catalog {
  margin-left: 20px;
  margin-right: 20px;
}

.catalog__filter {
  margin-top: 60px;
  margin-bottom: 90px;
  margin-left: 40px;
}

.catalog__sort-title{
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin-right: 240px;
}

.catalog__sort {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  text-transform: uppercase;
}

.catalog__sort-item {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  margin-left: 15px;
}

.catalog__sort-item a {
  color: #000;
  opacity: 0.3;
  text-decoration: none;
}

.catalog__sort-item a:hover {
  opacity: .6;
}

.catalog__sort-item a:active {
  opacity: 1;
}

.catalog__sort-item--active a {
  color: #000;
  opacity: 1;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  box-sizing: border-box;
  margin-top: -740px;
  margin-left: 390px;
  }

.catalog__item {
  margin-right: 40px;
  margin-bottom: 60px;
  position: relative;
  }

.catalog__item:hover {
  box-shadow: 0px 7px 9px -3px #cfcfcf;
}

.catalog__item:hover .catalog__hover {
  display: block;
}

 .catalog__item:hover::before {
    background-color: #4d4d4d;
}

.catalog__item:nth-child(2n) {
  margin-right: 0;
}

.catalog__item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #eee;
  top:-39px;
}

.catalog__item::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  left: 50px;
  top: -25px;
  box-shadow: 25px 0 0 0 #fff,
  -25px 0 0 0 #fff;
}

.catalog__hover {
  position: absolute;
  height: 235px;
  width: 100%;
  background-color: #eee;
  box-sizing: border-box;
  margin-top: 350px;
  z-index: 10;
  bottom: 0;
  display: none;
}

.catalog__hover-wrp {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-align: center;
  width: 215px;
}

.catalog__discription {
  font-size: 16px;
  line-height: 18px;
  color: #939393;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.catalog__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 28px 0 18px 0;
  text-align: center;
  text-transform: uppercase;
  }
.catalog__toggle-list {
  display: inline-block;
  margin-left: 37px;
}

.catalog__toggle {
  display: inline-block;
  cursor: pointer;
}

.catalog__toggle--down {
  width: 11px;
  height: 10px;
  margin-right: 10px;
  background-image: url("../img/icon-down-dir.png");
  background-position: 0.0;
}

.catalog__toggle--up {
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.png");
  cursor: auto;
}

.filter__title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    padding-bottom: 30px;
}

.filter__title--price {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filter__range {
  position: relative;
  height: 41px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  padding-top: 39px;
  background: #f1f1f1;
}

.filter__scale {
  height: 2px;
  background: #d7dcde;
}

.filter__bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.filter__toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter__toggle--min {
  left: 20px;
}

.filter__toggle--max {
  left: 145px;
}

.filter__price {
  margin-bottom: 57px;
  font-size: 0;
}
.filter__value {
  display: inline-block;
  width: 50%;
  font-size: 16px;
}

.filter__value-input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  width: 60px;
  padding: 8px 10px;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.filter__value--max-price {
  text-align: right;
}

.filter__grid, .filter__features {
  margin-bottom: 57px;
}

.filter__radio, .filter__check {
  display: none;
}

.filter__label {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  color: #283136;
  padding-bottom: 25px;
  padding-left: 37px;
}

.filter__label:last-child {
  padding-bottom: 0;
}

.filter__label--radio::before {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: 0;
  position: absolute;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
}

.filter__label--radio:hover::before, .filter__label--check:hover::before {
  opacity: 1;
}

.filter__label--radio:active::before, .filter__label--check:active::before {
  opacity: .1;
}

input[type=radio]:checked + label::before {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: 0;
  position: absolute;
  background-image: url("../img/radio-on.svg");
}

.filter__label--check::before {
  content: "";
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
}

input[type=checkbox]:checked + label::before {
  content: "";
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/checkbox-on.svg");
}

.filter__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  width: 260px;
  min-height: 50px;
  background-color: #eee;
  border: 0;
  cursor: pointer;
  border-radius: 5%;
  border-radius: 5px;
  }

.filter__button:hover, .paginator__link:hover {
  background-color: #dfdfdf;
}

.filter__button:active, .paginator__link:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: 0px 3px 0px 0px #bfbfbf inset;
}
.paginator{
	margin-left: 390px;
	margin-bottom: 60px;
}
.paginator__link {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 50px;
  text-decoration: none;
  color: #2e2e2e;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 21px;
  background-color: #eee;
  border-radius: 5%;
  margin-right: 6px;


  }

  .paginator--current {
    background-color: #fff;
    border: 2px solid #eee;
    box-sizing: border-box;
  }


  .btn-hover{
	  width: 160px;
	  padding: 13px 0;
	  margin-top: 30px;
	  
	  font-size: 16px;
	  line-height: 18px;
	  color: #ffffff;
	  text-transform: uppercase;
	  text-align: center;
	  text-decoration: none;
	  
	  background-color: #fb565a;
	  border-radius: 3px;
	  border: none;
  }



/*/* Всплывающая форма */

.modal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -300px;
  padding-bottom: 85px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 960px;
  height: 590px;
  background-color: #fff;
  box-shadow: -1px 12px 19px -5px #000;

  display: none;
}

.modal__show
{
    display: block;
    -webkit-animation: bounce .5s;
            animation: bounce .5s;
}

.modal__wrp {
  padding-top: 70px;
  padding-bottom: 84px;
  padding-left: 100px;
  padding-right: 100px;
}

.modal__title {
  position: relative;
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
}
.modal__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 30px;
}

.modal__input, .modal__comment {
  display: inline-block;
  box-sizing: border-box;
  line-height: 18px;
  color: #a1a1a1;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  width: 360px;
  outline: none;
  font-size: 16px;
}

.modal__input:focus, .modal__comment:focus {
  color: #000;
  border: 2px solid #000;
}

.modal__input:invalid, .modal__comment:invalid {
  box-shadow: none;
  color: #e74246;
  border: 2px solid #e74246;
}

.modal__text {
  display: inline-block;
  width: 360px;
}

.modal__text--comment {
  position: relative;
  margin-top: 30px;
}

.modal__comment {
  width: 760px;
  height: 115px;
}

.btn {
  position: absolute;
  bottom: 75px;
  background-color: #fb565a;
  width: 260px;
  border: 0;
	  padding: 13px 0;
	  
	  font-size: 16px;
	  line-height: 18px;
	  color: #ffffff;
	  text-transform: uppercase;
	  text-align: center;
	  text-decoration: none;
	  
	  background-color: #fb565a;
	  border-radius: 3px;
	  border: none;
}

.btn:active, .btn:focus {
  outline: none;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 11px;
  
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 78px;
  left: -80px;

  width: 19px;
  height: 3px;

  background-color: red;
  opacity: 0.2;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}